<div class="container-fluid cont">
	<div class="row login">
		<div class="col-6 izq">
            <h1>Ecommerce</h1>
		</div>
		<div *ngIf="login" class="col-6 der">
            <div>
                <h2>Iniciar Sesión</h2>
                <div class="login-form">
                    <form [formGroup]="loginForm">
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label for="user">Nombre</mat-label>
                                <input matInput type="user" class="form-control" id="user" formControlName="user" placeholder="Ingrese su Nombre">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <mat-label for="password">Contraseña</mat-label>
                                <input matInput type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña">
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" (click)="Login()">Iniciar Sesión</button>
                        <p (click)="ChangeFunction()">O registrese</p>
                    </form>
                </div>
            </div>
        </div>

            <div *ngIf="!login" class="col-6 der">
                <div>
                    <h2>Registrarse</h2>
                    <div class="login-form">
                        <form [formGroup]="signupForm">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="user">Nombre</mat-label>
                                    <input matInput type="user" class="form-control" id="user" formControlName="user" placeholder="Ingrese su usuario">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="surname">Apellido</mat-label>
                                    <input matInput type="surname" class="form-control" id="surname" formControlName="surname" placeholder="Ingrese su Apellido">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="email">Email</mat-label>
                                    <input matInput type="email" class="form-control" id="email" formControlName="email" placeholder="Ingrese su Email">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="phone">Telefono</mat-label>
                                    <input matInput type="phone" class="form-control" id="phone" formControlName="phone" placeholder="Ingrese su Telefono">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="address">Direccion</mat-label>
                                    <input matInput type="user" class="form-control" id="address" formControlName="address" placeholder="Ingrese su Direccion">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label for="password">Contraseña</mat-label>
                                    <input matInput type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña">
                                </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" (click)="SignUp()">Registrarse</button>
                        </form>
                    </div>
                </div>
		</div>
</div>
