<div class="container-fluid">
	<div class="row">
		<div class="col-6">
            <h1>Ecommerce</h1>
            <h1>{{nombre}}</h1>
		</div>
		<div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label for="user">Usuario</mat-label>
                                <input matInput type="user" class="form-control" id="user" formControlName="user" placeholder="Ingrese su usuario">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label for="password">Contraseña</mat-label>
                                <input matInput type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña">
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary" (click)="Login()">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
		</div>
	</div>
</div>
